.btn {
	display: flex;
	align-items: center;
	column-gap: 0.4rem;
	padding: 0.8rem 1.6rem;
	background: var(--yellow500);
	border: 1px solid var(--blue500);
	border-radius: 0.4rem;
	margin: auto;
	max-height: max-content;
	box-shadow: 0 2px 8px -4px var(--blue500);
	font-weight: 600;
	cursor: pointer;

	&:hover {
		box-shadow: 0 0px 6px -4px var(--blue500);
	}

	&.disabled {
		background: grey;
		cursor: not-allowed;
	}
}

.buttons__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 0.8rem;
	column-gap: 2.4rem;

	& .btn {
		width: 100%;
		justify-content: center;

		@media (min-width: $small) {
			width: max-content;
		}
	}
}

modal-component {
	position: fixed;
	display: grid;
	inset: 0;
	background: rgba(0, 0, 0, 0.733);
	justify-content: center;
	align-items: center;
	padding: 3.2rem;

	.wrapper {
		display: grid;
		row-gap: 3.2rem;
		grid-template-rows: auto max-content;
		inset: 3.2rem;
		background: white;
		border: 1px solid black;
		border-radius: 0.8rem;
		padding: 2.4rem;
	}
}
