.title {
	text-align: center;
}

.disclaimer {
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
}

.appointment-type {
	font-size: inherit;
	color: var(--blue500);
	position: relative;

	&:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 100%;
		background: var(--yellow500);
		left: 0;
		bottom: 0.1em;
	}
}
