persons-attending-modal {
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	row-gap: 1.6rem;
	max-width: fit-content;
	label {
		font-size: 1.6rem;
		font-weight: 600;
		text-align: center;

		@media (min-width: $small) {
			font-size: 2.4rem;
		}
	}

	.control__wrapper {
		display: flex;
		column-gap: 0.8rem;
	}

	& input {
		height: 100%;
		width: 4.8rem;
		text-align: center;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type="number"] {
			-moz-appearance: textfield;
		}
	}
	& .error {
		color: var(--red500);
		line-height: 1;
		text-align: center;

		&.hidden {
			display: none;
		}
	}
}
