.results {
	display: grid;
	justify-content: center;
	align-items: center;
	row-gap: 2.4rem;

	results-component {
		display: grid;
		row-gap: 2.4rem;
		text-align: center;
	}

	.result {
		font-size: 2.4rem;
	}

	.other-appts__wrapper {
		display: flex;
		flex-wrap: wrap;
		column-gap: 3.2rem;
		justify-content: space-evenly;
		row-gap: 3.2rem;
	}
}
