.title {
	text-align: center;
	font-size: 2rem;
}

.disclaimer {
	font-size: 1.2rem;
	font-style: italic;
	text-align: center;
}

.results {
	display: grid;
	justify-content: center;
	align-items: center;
	row-gap: 2.4rem;

	& .main-results__wrapper {
		background: white;
		padding: 2.4rem;
		border: 1px solid #0000004a;
		border-radius: 0.4rem;
	}

	results-component {
		display: grid;
		row-gap: 2.4rem;
		text-align: center;
	}

	.result {
		position: relative;
		display: block;
		width: fit-content;
		margin: 3.2rem auto;
		font-size: 2.4rem;
		z-index: 0;

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 0.2rem;
			background: var(--yellow500);
			bottom: 0.3rem;
			left: 0;
			z-index: -1;
		}
	}

	.other-appts__wrapper {
		display: grid;
		column-gap: 3.2rem;
		justify-content: space-evenly;
		row-gap: 3.2rem;

		& h2 {
			grid-column: 1/-1;
		}
		@media (min-width: $small) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $medium) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	extendable-list {
		display: grid;
		justify-items: center;
		grid-template-rows: max-content auto max-content;
		row-gap: 1.6rem;
		background: white;
		padding: 2.4rem;
		border: 1px solid #0000004a;
		border-radius: 0.4rem;
		height: fit-content;

		& .subtext {
			font-size: 1.4rem;
		}

		& .day__wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 0.8rem;
			border-bottom: 1px solid #00000017;
			padding: 0.8rem;

			&.hidden {
				display: none;
			}
		}

		& .day__title {
			width: 100%;
			font-weight: 600;
		}

		& .appointments__wrapper {
			width: 100%;
		}

		& .appointment {
			border: 1px solid black;
			padding: 0.4rem;
			border-radius: 50rem;
		}
	}
}
